@charset "UTF-8"; 

@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');

h1{
font-family: "Akaya Kanadaka", system-ui;
  font-weight: 400;
  font-style: normal;
  
}

h2{
font-family: "Akaya Kanadaka", system-ui;
  font-weight: 400;
  font-style: normal;
  
}

h3{
  font-family: "Akaya Kanadaka", system-ui;
  font-weight: 400;
  font-style: normal;
  color: indigo;
}

img{ 
    border-radius: 10px 10px 10px /* Arredonda os cantos da imagem */
}

header{
background-color: darkmagenta;
font-size: 30px;
padding: 10px;

}
