<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>pagina principal</title>
</head>
<body>
    <header>

        <nav>
            <ul>
                <li><a href="#"></a>sobre</li>
                <li><a href="#"></a>produtos</a>
                    <section class="sub-menu">
                        <ul>
                            <li><a href="#">carros</a></li>
                            <li><a href="#">motos</a></li>
                            <li><a href="#">caminhoes</a></li>
                        </ul>
                    </section>
                </li>

                    

                <li><a href="#"></a>serviços</li>
                <li><a href="#"></a>contato</li>
        
               </ul>


        </nav>



    </header>
    
</body>
</html>