@charset "utf-8";
body{
    background-color: blanchedalmond;

}

nav{
    background-color: antiquewhite;
    text-align: right;

    
}

nav ul{
    display: inline-flex;
    list-style: none;


}

nav ul li{
    width: 140px;
    margin: 15px;
    padding: 15px;
    background-color: aquamarine;
    border-radius: 10px;
    text-align: center;
    


}
nav ul li a{
    font-family: sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

nav ul li:hover{
    background-color: rgb(241, 145, 241);
}

.sub-menu{
    display: none;

}

nav ul li:hover .sub-menu{

    display: block;
    position: absolute;
    margin: top 15px;
    margin-left: -38px;
    background-color: grey;

}

nav ul li:hover .sub-menu ul{

    display: block;
}

