@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alex+Brush&family=Borel&family=Fleur+De+Leah&family=Meow+Script&family=Story+Script&family=UnifrakturMaguntia&display=swap');

body {
  font-family: "Borel", cursive;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}

footer {
  background-color: rgb(2, 243, 203);
  color: black;
  text-align: center;
  padding: 20px;
  position: fixed;
  width: 100%;
  bottom: 0;
}