@charset "UTF-8";

img{
    max-width: 100%;
    display: block;
}

.flexbox{
    display: flex;
    max-width: 800px;
    flex-wrap: wrap;
    margin: 0 auto;
}

.flexbox > div{
    flex: 1 1 200px;
    margin: 10px;

}

.flexbox div p{
    text-align: center;
}

/* EXEMPLO 1 DE GRID*/

.grid1{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    max-width: 800px;
    padding: 10px;
    margin: 0 auto;
    gap: 20px;
}

.grid1 > div:nth-child(n+4){
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    align-items: center;

}

.grid1>div.anuncio{
    grid-column: 1;
    grid-row: 2/5;
    display: block;
    border: 5px solid;

}

.grid1 div p{
    text-align: center;
}

@media(max-width:600px){
    .grid1{
        grid-template-columns: repeat(2,1fr);
    }

 .grid1>div:nth-child(n+4){
    display: block;
 }
    
 .grid1>div.anuncio{
    grid-column: auto;
    grid-row: auto;
    order: -1;


 }
}

.grid2{
    display: grid;
    grid-template-columns: repeat(2,1fr 200px);
    gap: 20px;
    margin: 0 auto;
    max-width: 800px;
}

.sidebar > div{
    margin-bottom: 10px;
}

@media (max-width:600px){
.grid2{
    grid-template-columns: 1fr;
}

.sidebar{
    display: flex;
    overflow: scroll;
}

.sidebar > div{
    flex: 1 0 200px;
    margin: 0 10px;
}

}

.grid3{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5px;
    margin: 0 auto;
    max-width: 800px;
    padding-bottom: 100px;
}

.grid3-item1{
    grid-row: 1/3;
    padding: 0px;


}

.grid3-item1 img{
    width: 100%;
    height: 100%;
    grid-row: 1/3;
}

.grid3-item img{
    height: 100%;
}