@charset "utf-8";
body{
    font-family: cursive;
}

div>p{
    display: none;
}

div:hover>p{
    display: block;
  color: aquamarine;
    background-color: rgb(146, 26, 226);
    width: 300px;
}

div:hover{
    color: goldenrod;
}