@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Are+You+Serious&family=Finger+Paint&family=Nosifer&display=swap');

*{
    margin: 0;
    padding: 10;
    box-sizing: border-box;
    }

    header h1{
   font-family: "Are You Serious", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 3em;
  margin-left: 10px;
  letter-spacing: 2px;
  color: black;
  padding: 10px;
}

header{
    background-color: #E650AB;
    padding-top: 10px;
}

nav a{
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  color: black;
  display: inline;
  margin: 10px;
  padding: 15px;
  text-decoration: none;
  font-size: 15px;
}

nav{
    text-align: right;
}

nav a:hover{
    background-color: #7580E0;
    color: black;
    border-radius: 10px;
    font-size: 22px;
}

footer{
    background-color: #E650AB;
    text-align: center;
    color: black;
    position: fixed;
    width: 100%;
    bottom: 0;
}

body{
    align-items: center;
    justify-content: center;
}

body img{
    display: block;
    width: 60%;
    margin: 0 auto;
}

body header h1{
    font-family: "Nosifer", cursive;
    font-weight: 600;
    font-size: normal;
    color: #B1C8E0;
    margin: 10px;
   padding: 15px;
}

body h1{
    font-family: "Nosifer", cursive;
    font-weight: 600;
    font-size: normal;
    color: #D7B1E0;
    margin: 10px;
   padding: 15px;
}

main p{
    font-family: "Finger Paint", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    margin: 10px;
    padding: 15px;
    text-align: justify;
    line-height: 25px;
   
}